@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8e8e8;
  color: rgb(30 27 75);
}
.card{
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}
.primary-button{
  @apply rounded text-white bg-indigo-400 py-2 px-4 shadow outline-none hover:bg-indigo-500 active:bg-indigo-500;
}
div.pricing{
  @apply text-base font-normal p-1;
}
div.pricing > div{
  @apply font-semibold w-full md:w-1/2 flex items-center justify-between;
}
div.pricing > div.checkout{
  @apply flex justify-end items-center mt-4;
}
div.pricing > div > span.price{
  @apply text-gray-500;
}
form.loginForm{
  @apply bg-white py-5 px-10;
}
form.loginForm input, select, textarea{
  @apply rounded border p-2 outline-none ring-indigo-800 focus:ring xl:text-lg;
}
form.loginForm label{
  @apply text-lg font-semibold mb-2;
}
.dropdown-link{
  @apply w-full hover:bg-indigo-500 hover:text-white py-2  pl-5 block;
}